body
{
  font-size: 40pt;
}


.pages{
  position:absolute;
  overflow-x:hidden;
  right:0%;
  top:0%;
  left:0%;
  bottom:0%;
  width:100%;
  height:30%;
  display:flex;
}

.imagepage1{
  width:100%;
  height:100%;
  background-color:Blue;
}

.imagepage2{
  width:0%;
  height:100%;
  background-color:Blue;
}

.imagepage3{
  width:0%;
  height:100%;
  background-color:Blue;
}

.dot_pages{
  position:absolute;
  left:0%;
  right:0%;
  margin-top:60%;
  width:100%;
  display:flex;
  justify-content:center;
}

.dotpage{
  width:30px;
  height:30px;
  margin:1%;
  background-color:Red;
  border-radius:50%;
  border: 2px solid Blue;
  border-color:Blue;
}

.radial-gradient {
  position:absolute;
  left:0%;
  right:0%;
  width:100%;
  height:100%;
  background-image: linear-gradient(#2000E2, #E90015);
  opacity:80%;
}

.SetupSearch{
  position:absolute;
  
  display:flex;
  
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  
  width:100%;
  height:9%;
  
  padding-top:10px;
  padding-bottom:10px;
  
}

.ViewSearch{
  width:85%;
  height:100%;
  
  background: rgba(255,255,255,0.0);
  
  border-bottom-left-radius:100px;
  border-bottom-right-radius:100px;
  border-top-left-radius:100px;
  border-top-right-radius:100px;
  
  display:flex;
  
  justify-content:center;
  
  margin-left:10px;
  margin-right:10px;
}

.ViewSearch2{
  width:85%;
  height:100%;
  
  background: rgba(255,255,255,0.2);
  
  border-bottom-left-radius:100px;
  border-bottom-right-radius:100px;
  border-top-left-radius:100px;
  border-top-right-radius:100px;
  
  display:flex;
  
  justify-content:center;
  
  margin-left:10px;
  margin-right:10px;
  
  
  /*Red and Blue*/
  background-image: linear-gradient(135deg,#2000E2 20%, #E90015);
  
  opacity:80%;
}

.InputSearch{
  width:100%;
  height:97%;
  margin-left:10%;
  border:0;
  background-color:transparent;
  
  font-size:70px;
  outline:none;
  
  visibility:hidden;
  
  placeholder:"Pesquisar...";
}

.IconSearch{
  width:100px;
  height:100px;
  margin:2%;
  padding:2%;
  border-radius:100%;
  
  background: rgba(255,255,255,0.5);
  
  
  /*Red and Blue*/
  background-image: linear-gradient(135deg,#2000E2 20%, #E90015);
  
  opacity:80%;
  
  
  box-shadow: 0px 0px 8px 0px #222;
  
}

.IconSearch2{
  width:100px;
  height:100px;
  margin:2%;
  padding:2%;
  border-radius:100%;
  
  background: rgba(255,255,255,0.2);
  
  
   /*Red and Blue*/
  background-image: linear-gradient(135deg,#2000E2 20%, #E90015);
  
  opacity:40%;
  
  
  box-shadow: 0px 0px 8px 0px #222;
  
}

.IconMenu{
  width:100px;
  height:100px;
  
  margin-top:1.0%;
  margin-bottom:1.0%;
  margin-right:1.0%;
  margin-left:1.0%;
  
  padding:2%;
  
  border-radius:100%;
  
  background: rgba(255,255,255,0.5);
  
  
  /*Red and Blue*/
  background-image: linear-gradient(135deg,#2000E2 20%, #E90015);
  
  opacity:80%;
  
  
  box-shadow: 0px 0px 8px 0px #222;
  
}

.IconMenu2{
  width:100px;
  height:100px;
  
  margin-top:1.0%;
  margin-bottom:1.0%;
  margin-right:1.0%;
  margin-left:1.0%;
  
  padding:2%;
  
  border-radius:100%;
  
  background: rgba(255,255,255,0.2);
  
  
   /*Red and Blue*/
  background-image: linear-gradient(135deg,#2000E2 20%, #E90015);
  
  opacity:40%;
  
  
  box-shadow: 0px 0px 8px 0px #222;
  
}

.VList{
  position:absolute;
  width:100%;
  height:100%;
  margin-top:70%;
  left:0%;
  right:0%;
}

.list{
  width:100%;
  margin-left:0px;
  
}


.card{
  width:90%;
  margin:4.5%;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background-color:transparent;
  /*border: 2px solid Red;*/
  box-shadow: 0 0 8px 2px #222;
  opacity:90%;
  
  
}

.CardThumbnail{
  width:100%;
  height:500px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  
}

.CardTitle{
  font-size:40px;
  width:100%;
  height:100%;
  font-weight:bold;
  color:#E90015;
  
  padding-left:10px;
  
  text-shadow:1px 1px 10px #2000E2;
}

.CardDescription{
  font-size:30px;
  width:100%;
  height:100%;
  font-weight:bold;
  color:#2000E2;
  
  padding-left:10px;
  
  text-shadow:0px 0px 0px #E90015;
}

.CardDownload{
  width:50%;
  
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  
  background-color:#ff0000;
  
  margin-left:45%;
  
  display:flex;
  
  justify-content:center;
  
  padding:20px;
  
  font-size:40px;
  color:White;
}

.PrivacyPolicy{
  width:100%;
 margin-top:10%;
 
}

.Divisor{
  width:100%;
  height:2px;
  background-color:DarkRed;
}

.ViewProprietaryInformation{
  display:flex;
  padding-top:10px;
  padding-bottom:10px;
}
.ProprietaryProfile{
  width:150px;
  height:150px;
  margin:0%;
  border-radius:100px;
  margin:15px;
}
.ProprietaryName{
  width:100%;
  height:100%;
  margin:0%;
  font-weight:bold;
  font-size:60px;
  padding:5%;
  
  color:Red;
  font-family:"Cyberpunk";
  /*src: url('/fonts/Cyberpunk.ttf');*/
}
@font-face {
font-family:"Cyberpunk";
src: url("/fonts/Cyberpunk.ttf");
}

.line{
  width:100%;
  height:2px;
  background-color:Red;
  
}

.Planet{
  margin-top:10%;
  margin-bottom:10%;
  width:15%;
  height:15%;
  
}

.Language{
  width:100%;
  height:15%;
  margin-top:15%;
  margin-bottom:15%;
  margin-left:5%;
  margin-right:5%;
  font-size:50px;
  color:Red;
}

.Icon{
  margin-top:10%;
  margin-bottom:10%;
  margin-left:2%;
  margin-right:10%;
  width:15%;
  height:15%;
  
}

.IconPrivacy{
  margin-top:2%;
  margin-bottom:2%;
 
  width:30%;
  height:30%;
  
  background-size:30%,30%;
  
  translate:-10%;
}

.Reserved{
  width:100%;
  padding-top:10%;
  padding-bottom:10%;
  padding-left:5%;
  padding-right:5%;
  font-size:40px;
  color:Red;
  
}

.ViewDrawer{
  position:absolute;
  z-index:1000;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  
  width:980px;
  height:100%;
  
  opacity:100%;
  
  background-color:transparent;
}
.Drawer{
  /*position:absolute;
  z-index:1000;
  
  left:0%;
  top:0%;
  right:0%;
  bottom:0%;*/
  
  width:75%;
  height:100%;
  
  background-color:#121212;
  
  /*overflow-x:hidden;
  overflow-y:hidden;
  overflow:none;*/
  
  box-shadow:0px 0px 16px 2px #222;
}

.FotoDaCapa{
  width:100%;
  height:22%;
  background-color:Purple;
}

.FotoDoPerfil{
  width:200px;
  height:200px;
  border-radius:100px;
  background-color:Red;
  margin:20px;
  opacity:90%;
}

.WhatsAppList{
  display:flex;
  width:100%;
  padding-top:4%;
  padding-bottom:4%;
  /*padding-left:4%;
  padding-right:4%;*/
  
  background-color:#141414;
  
  font-size:20px;
  
  align-items:center;
  
}

.WhatsAppListIcon{
  width:100px;
  height:100px;
  filter:invert(100%);
  margin-left:40px;
  margin-right:40px;
}

.WhatsAppListText{
  margin:0px;
  color:WhiteSmoke;
}

.WhatsAppCategory{
  display:flex;
  
  padding-bottom:10px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:0px;
  border-top-right-radius:0px;
  
  box-shadow:0 0 8px 1px #242424;
  
  background-color:transparent;
  
  float:right;
  
  translate:-10px;
}

.WhatsAppTitleCategory{
  color:Red;
  font-weight:bold;
  font-size:40px;
  
  
}

.WhatsAppIconCategory{
  width:50px;
  height:50px;
  padding:25px;
  
}

.ViewDialog{
  position:absolute;
  z-index:1001;
  width:100%;
  height:100%;
  left:0px;
  right:0px;
}

.ViewHideDialog{
  position:absolute;
  z-index:1002;
  margin-left:45%;
  margin-top:80%;
  width:50px;
  height:100px;
  
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  
  background-color:#121212;
  
  /*box-shadow:10px 0px 0px 0px #121212, 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent, 0px 0px 8px 1px #242424;*/
  
  box-shadow:10px 0px 0px 0px #121212,
  0px -5px 8px -5px blue,
  0px 5px 8px -5px red,
  -22px -22px 8px -22px blue,
  -22px 22px 8px -22px red;
}

.Dialog{
  /*position:absolute;*/
  /*display:none;
  
  /*z-index:1001;*/
  
 /* width:90%;*/
 /* height:45%;*/
  /*
  margin-left:4%;
  margin-right:4%;
  margin-top:45%;
  margin-bottom:45%;
  
  border-radius:20px;
  background-color:#121212;
  
  box-shadow:0 0 8px 1px #212121
  */
  
  position:absolute;
  z-index:1001;
  margin-left:50%;
  margin-top:37.5%;
  width:50%;
  
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  
  /*background-color:#121212;*/
  
  /*box-shadow:0 0 8px 1px #242424*/
  
  /*background:rgba(0,0,0,0.8);*/
  
  background-color:#121212;
  
  box-shadow:80px -4px 8px -4px blue,
  80px 4px 8px -4px red,
  -200px -200px 8px -200px blue,
  -200px 200px 8px -200px red
}

.DialogTitle{
  color:WhiteSmoke;
  font-size:50px;
}

.DialogCardWhatsAppCategory{
  width:100%;
  height:100px;
  margin-left:5%;
  margin-right:5%;
  border-radius:10px;
  background-color:transparent;
  box-shadow:0 0 8px 1px #242424;
  
  display:flex;
  
  background-color:WhiteSmoke;
}

.DialogCardWhatsAppCategoryIcon{
  width:25%;
  height:100%;
  margin-left:10px;
  margin-right:10px;
  filter:invert(0%);
  
  
}

.DialogCardWhatsAppCategoryText{
  width:75%;
  height:100%;
  
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:0px;
  border-top-left-radius:0px;
  
  background-color:#121212;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:WhiteSmoke;
  font-size:40px;
  
  
  
}

.dot {
    border-radius: 50%;
    z-index: -1;
}

.UserNameIcon{
  position:absolute;
  margin-left:75%;
  margin-top:50%;
  width:200px;
  height:200px;
  background-size:200px,200px;
  background-image: url('../images/user_name.png');
  }
  
  .MoveUserNameIcon{
	width:30px;
	font-size:10px;
  }
  
  .HIDDEN{
	
	
  }
  
  .SplashScreen{
	position:fixed;
	z-index:1002;
	left:0;
	right:0;
	bottom:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	
	background-color:#121212;
	opacity:100%;
	
	display:flex;
	justify-content:center;
	align-items:center;
  }
  
  .SplashScreenLogo{
	border-radius:100%;
	margin-top:-100px;
  }
